body{
    background-color: blue;

}
.box{
    width: 90%;
    max-width: 31em;
    background-color: aliceblue;
    border:0px solid red;
    padding: 4em 3em;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    

}
h1{
    color: black;
    font-size: 1.6em;

}
.input{
    display: grid;
    grid-template-columns: 9fr 3fr;

    gap: 1em;
    margin-inline-start: 2em 0 1em 0;
}
input{
    border: none;
    border-bottom: 3px solid white;
    font-weight: 330;
    font-size: 1.3em;

}
input:focus{
    border-bottom: 3px solid blue;
}
button{
    font-size: 1em;
    padding: 1em 0.5em;
    background-color: blue;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}
p{
    text-align: center;
    color:white;
    font-weight: 400;
    padding: 1em 0;
    border-radius: 0.5em;
    transition: 0.5s;



}
.right{
    background-color: rgb(115, 210, 99);
    color:blue;
}

