img{
    height:50vh;
    width: 30%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    margin-top: 10px;
}
.row{
    padding-top: 20px;
}
/*h1{
   margin-left: 20px;
}
#box{
    height: 30vh;
    width: 1000vh;
    border: 1px solid black;
}*/
